<li>
  <%= product.name %>
  <%= product.author %>
  <%= product.version %>
  <%= product.date %>
  <%= product.value %>
  <%= link_to "Show", product_url(product) %>
  <%= link_to "Edit", edit_product_url(product) %>
  <%= button_to "Delete", product_url(product), method: :delete, confirm: "Are you sure?" %>
</li>
