<tr>
  <td><%= product.name %></td>
  <td><%= product.author %></td>
  <td><%= product.version %></td>
  <td><%= product.release_date %></td>
  <td><%= product.value %></td>
  <td><%= link_to "Show", product_url(product) %></td>
</tr>
