<li>
  <%= product.name %>
  <%= product.author %>
  <%= product.version %>
  <%= product.date %>
  <%= product.value %>
  <%= button_to "Delete", product_url(product), method: :delete, confirm: "Are you sure?" %>
</li>
