<h3><%= product.name %></h3>
<p>Author: <%= product.author %></p>
<p>Version: <%= product.version %></p>
<p>Created On: <%= product.date %></p>
<p>Value: <%= product.value %></p>
<%= link_to "Back", products_url %>
<%= link_to "Edit", edit_product_url(product) %>
<%= button_to "Delete", product_url(product), method: :delete, confirm: "Are you sure?" %>
